* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #222;
    color: #ccc;
    font-family: sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    min-height: 100vh;
}

.sidebar {
    min-height: 470px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 18px;
}

.sidebar#infos {
    min-width: 150px;
}

.sidebar#tetrominos {
    width: 150px;
}

.infos {
    height: 20%;
    text-align: right;
    /* background: orange; */
}

.infos .controls {
    margin-top: 10px;
}

.next {
    height: 359px;
    border: 1px solid #777;
}

.hold {
    height: 103px;
    border: 1px solid #777;
}

.next .title,
.hold .title {
    height: 30px;
    padding: 5px;
}

.next .content,
.hold .content {
    min-height: calc(100% - 30px);
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.tetromino {
    width: calc((21px * 4) + (2px * 3));
    height: calc((21px * 2) + (2px * 1));
    /* background: red; */
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
}

.tetromino span {
    width: 21px;
    height: 21px;
}